* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: rgb(12, 60, 96);
}

.header-container {
    width: 80%;
    height: 70px;
    background-color: rgb(12, 60, 96);
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;

}

.logo img {
    width: 90%;
}

.navbar {
    width: 100%
}

.navbar ul {
    display: flex;
    justify-content: end;

}

.navbar ul li {
    list-style: none;
    padding: 0px 25px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: normal;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: rgb(140, 188, 219);
    transition: 0.7s;
}

.section {
    width: 100%;
    /* background-color: aqua; */
}

.section-container {
    height: 630px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    /* background-color: brown; */
}

.section h1 {
    font-family: sans-serif;
    font-weight: normal;
    color: rgb(9, 38, 61);
    font-size: 60px;
    text-align: center;
    padding: 80px 0px;

}

.article {
    width: 100%;
    /* background-color: yellow; */

}

.article-container {
    width: 80%;
    height: 1200px;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.article-container .box {
    width: 30%;
    height: 500px;
    /* background-color: orange; */
    margin: 40px;
}

.square {
    width: 100%;
    height: 280px;
    /* background-color: black; */

}

.square img {
    width: 100%;
}

.square h1 {
    padding-top: 20px;
    color: rgb(5, 20, 31);
    font-family: sans-serif;
    font-weight: normal;
}

.square h3 {
    font-family: sans-serif;
    color: rgb(10, 37, 61);
    padding-top: 5px;
    font-weight: normal;
}

.square p {
    padding-top: 20px;
    font-family: sans-serif;
    color: rgb(5, 20, 31);
    line-height: 25px;
}
.contact{
    background-color: rgb(12, 60, 96);
    color:white;
    padding-top: 30px  ;
    width: 100%;
    height: 800px;
   
}
.contact h1
{
    font-family: sans-serif;
    font-weight: normal;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0%;
    padding-top: 10px;
   
}

.contact-container {
    /* padding: 10px; */
    width: 37%;
    background-color: rgb(12, 60, 96);
    margin: 0 auto;
}

.contact-form {
    background-color: rgb(12, 60, 96);
    padding: 0px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(241, 234, 234, 0.879); */
}



form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 16px;
    
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 4px;
   
}

button {
    margin-top: 10px;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:white;
    color: rgb(12, 60, 96);
    cursor: pointer;
}

button:hover {
  background-color:  rgb(12, 60, 96);
  color: white;
  border: 1px solid white;
}
iframe
{
   margin-top: 35px;
   border-radius: 10px;
   
}
.footer
{
    width: 100%;
    background-color: rgb(7, 33, 54);
}
.footer-container
{
    height: 300px;
    width: 80%;
    
    margin: auto;
    display: flex ;
    justify-content: space-between;

}
.footer-container .box
{
    width: 30%;
    height: 250px;
    /* background-color: aqua; */
    margin-left: 20px;
    padding-left: 130px;
   
    
}
.footer-container .box h5
{
    font-size: 30px;
    padding-top: 50px;
    text-align: left;
    font-family: sans-serif;
    color: white;
    font-weight: 300;
}
.footer-container .box p
{
    font-size: 15px;
    width:  60%;
    font-family: sans-serif;
    /* background-color: yellow; */
    padding-left: 0%;
    padding-top: 20px;
    text-align:left;
    line-height: 20px;
    color: white;
}
.footer-container .box h4
{
    font-size: 30px;
    padding-top: 50px;
    text-align: left;
    font-family: sans-serif;
    color: white;
    font-weight: 300;
}
.footer-container .box p a
{

    color: white;
    text-decoration: none;
}
.footer-container .box p a:hover
{
    color: rgb(140, 188, 219);
    transition: 0.4s;
}


